
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body{
  background-image: url(http://vignette3.wikia.nocookie.net/steven-universe/images/5/5f/Same_Old_World_101.png/revision/latest?cb=20160617181335);
  height:100%;
}
a{
  color:white;
  text-decoration: none;
}
